In [4]:
import pandas as pd
dict={"fruit":["mango","papaya","banana","apple","orange","cocunut","grapes"],
      "price":[100,40,50,150,60,40,90],
      "quantity":[12,14,5,7,9,3,4]}
df1=pd.DataFrame(dict)
print(df1)

     fruit  price  quantity
0    mango    100        12
1   papaya     40        14
2   banana     50         5
3    apple    150         7
4   orange     60         9
5  cocunut     40         3
6   grapes     90         4

In [11]:

dict={"fruit":["mango","papaya","banana","apple","orange","cocunut","grapes"],
      "price":[100,40,50,150,60,40,90],
      "quantity":[12,14,5,7,9,3,4]}
df1=pd.DataFrame(dict)
print(df1)
df2=df1.copy()
print(df2)

     fruit  price  quantity
0    mango    100        12
1   papaya     40        14
2   banana     50         5
3    apple    150         7
4   orange     60         9
5  cocunut     40         3
6   grapes     90         4
     fruit  price  quantity
0    mango    100        12
1   papaya     40        14
2   banana     50         5
3    apple    150         7
4   orange     60         9
5  cocunut     40         3
6   grapes     90         4

In [18]:
dict={"fruit":["mango","papaya","banana","apple","orange","cocunut","grapes"],
      "price":[100,40,50,150,60,40,90],
      "quantity":[12,14,5,7,9,3,4]}
df1=pd.DataFrame(dict)
print(df1)
df2=df1.copy()
print(df2)
print()

df2.loc[0,"price"]=150
df2.loc[3,"price"]=120
df2.loc[4,"quantity"]=19
df2.loc[3,"quantity"]=17
print(df2)
print(df1.compare(df2))

     fruit  price  quantity
0    mango    100        12
1   papaya     40        14
2   banana     50         5
3    apple    150         7
4   orange     60         9
5  cocunut     40         3
6   grapes     90         4
     fruit  price  quantity
0    mango    100        12
1   papaya     40        14
2   banana     50         5
3    apple    150         7
4   orange     60         9
5  cocunut     40         3
6   grapes     90         4

     fruit  price  quantity
0    mango    150        12
1   papaya     40        14
2   banana     50         5
3    apple    120        17
4   orange     60        19
5  cocunut     40         3
6   grapes     90         4
   price        quantity
    self  other     self other
0  100.0  150.0      NaN   NaN
3  150.0  120.0      7.0  17.0
4    NaN    NaN      9.0  19.0

In [19]:
dict={"fruit":["mango","papaya","banana","apple","orange","cocunut","grapes"],
      "price":[100,40,50,150,60,40,90],
      "quantity":[12,14,5,7,9,3,4]}
df1=pd.DataFrame(dict)
print(df1)
df2=df1.copy()
print(df2)
print()

df2.loc[0,"price"]=150
df2.loc[3,"price"]=120
df2.loc[4,"quantity"]=19
df2.loc[3,"quantity"]=17
print(df2)
print(df1.compare(df2,align_axis=0))

     fruit  price  quantity
0    mango    100        12
1   papaya     40        14
2   banana     50         5
3    apple    150         7
4   orange     60         9
5  cocunut     40         3
6   grapes     90         4
     fruit  price  quantity
0    mango    100        12
1   papaya     40        14
2   banana     50         5
3    apple    150         7
4   orange     60         9
5  cocunut     40         3
6   grapes     90         4

     fruit  price  quantity
0    mango    150        12
1   papaya     40        14
2   banana     50         5
3    apple    120        17
4   orange     60        19
5  cocunut     40         3
6   grapes     90         4
         price  quantity
0 self   100.0       NaN
  other  150.0       NaN
3 self   150.0       7.0
  other  120.0      17.0
4 self     NaN       9.0
  other    NaN      19.0

In [21]:
dict={"fruit":["mango","papaya","banana","apple","orange","cocunut","grapes"],
      "price":[100,40,50,150,60,40,90],
      "quantity":[12,14,5,7,9,3,4]}
df1=pd.DataFrame(dict)
print(df1)
df2=df1.copy()
print(df2)
print()

df2.loc[0,"price"]=150
df2.loc[3,"price"]=120
df2.loc[4,"quantity"]=19
df2.loc[3,"quantity"]=17
print(df2)
print(df1.compare(df2,keep_shape=True))

     fruit  price  quantity
0    mango    100        12
1   papaya     40        14
2   banana     50         5
3    apple    150         7
4   orange     60         9
5  cocunut     40         3
6   grapes     90         4
     fruit  price  quantity
0    mango    100        12
1   papaya     40        14
2   banana     50         5
3    apple    150         7
4   orange     60         9
5  cocunut     40         3
6   grapes     90         4

     fruit  price  quantity
0    mango    150        12
1   papaya     40        14
2   banana     50         5
3    apple    120        17
4   orange     60        19
5  cocunut     40         3
6   grapes     90         4
  fruit        price        quantity
   self other   self  other     self other
0   NaN   NaN  100.0  150.0      NaN   NaN
1   NaN   NaN    NaN    NaN      NaN   NaN
2   NaN   NaN    NaN    NaN      NaN   NaN
3   NaN   NaN  150.0  120.0      7.0  17.0
4   NaN   NaN    NaN    NaN      9.0  19.0
5   NaN   NaN    NaN    NaN      NaN   NaN
6   NaN   NaN    NaN    NaN      NaN   NaN

In [22]:
dict={"fruit":["mango","papaya","banana","apple","orange","cocunut","grapes"],
      "price":[100,40,50,150,60,40,90],
      "quantity":[12,14,5,7,9,3,4]}
df1=pd.DataFrame(dict)
print(df1)
df2=df1.copy()
print(df2)
print()

df2.loc[0,"price"]=150
df2.loc[3,"price"]=120
df2.loc[4,"quantity"]=19
df2.loc[3,"quantity"]=17
print(df2)
print(df1.compare(df2,keep_shape=False))

     fruit  price  quantity
0    mango    100        12
1   papaya     40        14
2   banana     50         5
3    apple    150         7
4   orange     60         9
5  cocunut     40         3
6   grapes     90         4
     fruit  price  quantity
0    mango    100        12
1   papaya     40        14
2   banana     50         5
3    apple    150         7
4   orange     60         9
5  cocunut     40         3
6   grapes     90         4

     fruit  price  quantity
0    mango    150        12
1   papaya     40        14
2   banana     50         5
3    apple    120        17
4   orange     60        19
5  cocunut     40         3
6   grapes     90         4
   price        quantity
    self  other     self other
0  100.0  150.0      NaN   NaN
3  150.0  120.0      7.0  17.0
4    NaN    NaN      9.0  19.0