In [1]:
import pandas as pd
data=pd.read_csv("practice1.csv")
print(data)

     EMP_ID     name  age  gender  degination  sallary   city      country  \
0    EMP001   vikash   22    male       owner     8000     mp        india
1    EMP002    sapna   21  female     manager    60000  bihar          usa
2    EMP003      ram   34    male      cahier    70000  delhi        india
3    EMP004  krishna   32    male   accounter    56000  delhi        china
4    EMP005    seeta   43  female    engineer    40000   pune      newyork
5    EMP006    radha   45  female  programmer    50000  rachi        korea
6    EMP007    mohan   26    male      tester    66000  rachi  switzerland
7    EMP008    shyam   29    male  programmer    45000  delhi        india
8    EMP009  hanuman   31    male      tester    85000    goa        india
9   EMP0010    meena   29  female      cahier    80000  delhi          usa
10   EMP002    sapna   21  female     manager    60000  bihar         irak
11   EMP004  krishna   32    male     teacher    45000  delhi        korea

    bonus
0    0.50
1    0.00
2    5.00
3    0.67
4    0.00
5    0.45
6    0.30
7    0.80
8    0.00
9    0.70
10   0.90
11   0.40

In [5]:
gp=data.groupby(["degination","gender"]).agg({"EMP_ID":"count"})
print(gp)

                   EMP_ID
degination gender
accounter  male         1
cahier     female       1
           male         1
engineer   female       1
manager    female       2
owner      male         1
programmer female       1
           male         1
teacher    male         1
tester     male         2

In [7]:
gp=data.groupby("country").agg({"sallary":"count"})
print(gp)

             sallary
country
china              1
india              4
irak               1
korea              2
newyork            1
switzerland        1
usa                2

In [12]:
gp1=data.groupby("country").agg({"sallary":"mean"})
print(gp)

             sallary
country
china        56000.0
india        52000.0
irak         60000.0
korea        47500.0
newyork      40000.0
switzerland  66000.0
usa          70000.0

In [15]:
gp=data.groupby(["city","gender"]).agg({"sallary":"max"})
print(gp)

              sallary
city  gender
bihar female    60000
delhi female    80000
      male      70000
goa   male      85000
mp    male       8000
pune  female    40000
rachi female    50000
      male      66000

In [16]:
gp=data.groupby(["city","gender"]).agg({"sallary":"min"})
print(gp)

              sallary
city  gender
bihar female    60000
delhi female    80000
      male      45000
goa   male      85000
mp    male       8000
pune  female    40000
rachi female    50000
      male      66000

In [17]:
gp=data.groupby(["degination","gender"]).agg({"sallary":"max"})
print(gp)

                   sallary
degination gender
accounter  male      56000
cahier     female    80000
           male      70000
engineer   female    40000
manager    female    60000
owner      male       8000
programmer female    50000
           male      45000
teacher    male      45000
tester     male      85000

In [18]:
gp=data.groupby(["city","gender"]).agg({"age":"max"})
print(gp)

              age
city  gender
bihar female   21
delhi female   29
      male     34
goa   male     31
mp    male     22
pune  female   43
rachi female   45
      male     26

In [19]:
gp=data.groupby(["city","gender"]).agg({"country":"max"})
print(gp)

                  country
city  gender
bihar female          usa
delhi female          usa
      male          korea
goa   male          india
mp    male          india
pune  female      newyork
rachi female        korea
      male    switzerland

In [23]:
gp=data.groupby(["city","gender"]).agg({"sallary":"max"})
print(gp)

              sallary
city  gender
bihar female    60000
delhi female    80000
      male      70000
goa   male      85000
mp    male       8000
pune  female    40000
rachi female    50000
      male      66000

In [25]:
gp=data.groupby(["city","gender"]).agg({"sallary":"max","age":"min"})
print(gp)

              sallary  age
city  gender
bihar female    60000   21
delhi female    80000   29
      male      70000   29
goa   male      85000   31
mp    male       8000   22
pune  female    40000   43
rachi female    50000   45
      male      66000   26

In [30]:
gp=data.groupby({["city","gender","name"]}).agg({"sallary":"mix","age":"min"})
print(gp)

TypeError: unhashable type: 'list'