In [1]:
print("sapna")

sapna

In [7]:
a=int(input("enter the  first number"))
b=int(input("enter the  second number"))
c=int(input("enter the  third number"))

if(a>=b and a>=c):
   print("first number is greater")

elif(b>=a and b>=c):
   print("second number is greater")
   
else:
   print("third number is greater")

enter the  first number 6
enter the  second number 8
enter the  third number 4

second number is greater

In [14]:
number=int(input("enter the number"))
if number%2 == 0:
              print("even number")
else:
              print("odd number")

enter the number 8

even number

In [17]:
i=int(input("enter the number"))
while i<=10: 
    print(i)
    i=i+1

enter the number 1

1
2
3
4
5
6
7
8
9
10

In [98]:
i=int(input("enter the number"))
for i in range (2,11):
    print(1/i)

enter the number 2

0.5
0.3333333333333333
0.25
0.2
0.16666666666666666
0.14285714285714285
0.125
0.1111111111111111
0.1

In [26]:
l1=["sapna","mango","sapna"]
print(l1)
print(type(l1))
print(len(l1))

['sapna', 'mango', 'sapna']
<class 'list'>
3

In [27]:
l2=[1,3,5,7,45]
print(l2)
print(type(l2))
print(len(l2))

[1, 3, 5, 7, 45]
<class 'list'>
5

In [28]:
list=[1,2,3,'q','c','d',29,36,9,11]
print(list)
print(type(list))
print(len(list))

[1, 2, 3, 'q', 'c', 'd', 29, 36, 9, 11]
<class 'list'>
10

In [37]:
li=[-5,-4,-3,-2,-1]
print(li[1:4])

[-4, -3, -2]

In [40]:
list=[1,2,3,'q','c','d',29,36,9,11]
print(list.append("sapna"))
print(list)

None
[1, 2, 3, 'q', 'c', 'd', 29, 36, 9, 11, 'sapna']

In [103]:
list=[1, 2, 3, 'q', 'c', 'd', 29, 36, 9, 11, 'sapna']
print(list.remove(3)

SyntaxError: incomplete input (525101109.py, line 2)

In [44]:
list=[1,2,3,'q','c','d',29,36,9,11]
print(list.insert(5,15))
print(list)

None
[1, 2, 3, 'q', 'c', 15, 'd', 29, 36, 9, 11]

In [114]:
list=[1,3,5,6,43,6,2,6]
list2=[1,40,45, 70, 80]
list.extend([list2])
print(list)
list.sort()

[1, 3, 5, 6, 43, 6, 2, 6, [1, 40, 45, 70, 80]]

TypeError: '<' not supported between instances of 'list' and 'int'

In [57]:
 num=42
print(int(num))
print(type(num))
# print(len(num))

42
<class 'int'>

In [66]:
a=("hello world")
print(a)
print(type(a))
print(len(a))

hello world
<class 'str'>
11

In [67]:
a=3.5
print(float(a))
print(type(a))

3.5
<class 'float'>

In [73]:
c=True
print(bool(c))
print(type(c))

True
<class 'bool'>

In [74]:
l=["sapna","sneha","kumari"]
print(l)
print(type(l))
print(len(l))

['sapna', 'sneha', 'kumari']
<class 'list'>
3

In [80]:
y={1,3,5,6,78}
print(y)
print(type(y))
print(len(y))

{1, 3, 5, 6, 78}
<class 'set'>
5

In [83]:
x=(23,45,56,67)
print(x)
print(type(x))
print(len(x))

(23, 45, 56, 67)
<class 'tuple'>
4

In [92]:

x1 = float(input("Enter x-coordinate of the first point: "))
y1 = float(input("Enter y-coordinate of the first point: "))
x2 = float(input("Enter x-coordinate of the second point: "))
y2 = float(input("Enter y-coordinate of the second point: "))

distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)

print(f"The distance between the points ({distance})")

Enter x-coordinate of the first point:  2
Enter y-coordinate of the first point:  3
Enter x-coordinate of the second point:  4
Enter y-coordinate of the second point:  5

The distance between the points (2.8284271247461903)

In [96]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
result=(num1+num2)
print(result)

Enter first number:  3
Enter second number:  5

8

In [116]:
x=(23,45,56,67)
print(x)
print(type(x))
print(len(x))

(23, 45, 56, 67)
<class 'tuple'>
4