In [1]:
import pandas as pd
data={"name":["sapna","vikash","sagar","ram","krishna"],
      "age":[20,22,23,45,67],
      "sallary":[40000,70000,50000,50000,30000]}
df=pd.DataFrame(data)
print(df)

      name  age  sallary
0    sapna   20    40000
1   vikash   22    70000
2    sagar   23    50000
3      ram   45    50000
4  krishna   67    30000